In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('c_a.csv')
df2 = pd.read_csv('c_b.csv')
df3 = pd.read_csv('c_c.csv')
df4 = pd.read_csv('c_d.csv')
df5 = pd.read_csv('c_e.csv')
df6 = pd.read_csv('c_f.csv')
df7 = pd.read_csv('c_g.csv')
df8 = pd.read_csv('c_h.csv')
df9 = pd.read_csv('c_i.csv')

In [4]:
df = pd.concat([df1, df2, df3,df4,df5,df6,df7,df8,df9], axis=1, ignore_index=True)

In [5]:

df.to_csv('merged.csv', index=False)

In [6]:
import warnings
warnings.filterwarnings('ignore')
df = pd.read_csv('merged.csv')

In [7]:
df

,0,1,2,3,4,5,6,7,8,9,...,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665
0,Apr-08,Belfast,100.0,NaN,NaN,NaN,NaN,Apr-08,Belfast,91.9,...,0.591103,-0.355018,0.373644,-0.760690,-0.164025,-0.038726,0.237856,-0.087631,-0.369153,0.153795
1,Apr-08,Northern,100.0,NaN,NaN,NaN,NaN,Apr-08,Northern,91.7,...,-0.199829,-0.001635,-0.062922,-0.682204,-0.220934,-0.100088,-0.466537,-0.231547,-0.643019,-0.014098
2,Apr-08,South Eastern,100.0,NaN,NaN,NaN,NaN,Apr-08,South Eastern,98.0,...,0.328736,-0.047571,0.084228,-0.695950,-0.402840,-0.099965,0.110155,-0.114298,0.258495,-0.198911
3,Apr-08,Southern,100.0,NaN,NaN,NaN,NaN,Apr-08,Southern,97.3,...,0.648861,-0.039088,0.182182,-0.524640,0.037320,-0.167688,-0.016790,-0.285344,-0.251188,0.862710
4,Apr-08,Western,100.0,NaN,NaN,NaN,NaN,Apr-08,Western,91.3,...,-0.287538,-0.286893,0.057082,-0.565021,-0.105632,-0.108148,-0.405853,-0.053601,-0.677072,0.134160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '1656', '1657', '1658', '1659', '1660', '1661', '1662', '1663', '1664',
       '1665'],
      dtype='object', length=1666)

In [9]:
df.columns.tolist()

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '280',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '289',
 '290',
 '291',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299',
 '300',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '320',
 '321',
 '322',
 '323',
 '324',
 '325',
 '326',
 '327',
 '328',
 '329',
 '330',
 '331',
 '332',
 '333',
 '334',
 '335',
 '336',
 '337',
 '338',
 '339',
 '340',
 '341',
 '342',
 '343',
 '344',
 '345',
 '346',
 '347',
 '348',
 '349',
 '350',
 '351',
 '352',
 '353',
 '354',
 '355',
 '356',
 '357',
 '358',
 '359',
 '360',
 '361',
 '362',
 '363',
 '364',
 '365',
 '366',
 '367',
 '368',
 '369',
 '370',
 '371',
 '372',
 '373',
 '374',
 '375',
 '376',
 '377',
 '378',
 '379',
 '380',
 '381',
 '382',
 '383',
 '384',
 '385',
 '386',
 '387',
 '388',
 '389',
 '390',
 '391',
 '392',
 '393',
 '394',
 '395',
 '396',
 '397',
 '398',
 '399',
 '400',
 '401',
 '402',
 '403',
 '404',
 '405',
 '406',
 '407',
 '408',
 '409',
 '410',
 '411',
 '412',
 '413',
 '414',
 '415',
 '416',
 '417',
 '418',
 '419',
 '420',
 '421',
 '422',
 '423',
 '424',
 '425',
 '426',
 '427',
 '428',
 '429',
 '430',
 '431',
 '432',
 '433',
 '434',
 '435',
 '436',
 '437',
 '438',
 '439',
 '440',
 '441',
 '442',
 '443',
 '444',
 '445',
 '446',
 '447',
 '448',
 '449',
 '450',
 '451',
 '452',
 '453',
 '454',
 '455',
 '456',
 '457',
 '458',
 '459',
 '460',
 '461',
 '462',
 '463',
 '464',
 '465',
 '466',
 '467',
 '468',
 '469',
 '470',
 '471',
 '472',
 '473',
 '474',
 '475',
 '476',
 '477',
 '478',
 '479',
 '480',
 '481',
 '482',
 '483',
 '484',
 '485',
 '486',
 '487',
 '488',
 '489',
 '490',
 '491',
 '492',
 '493',
 '494',
 '495',
 '496',
 '497',
 '498',
 '499',
 '500',
 '501',
 '502',
 '503',
 '504',
 '505',
 '506',
 '507',
 '508',
 '509',
 '510',
 '511',
 '512',
 '513',
 '514',
 '515',
 '516',
 '517',
 '518',
 '519',
 '520',
 '521',
 '522',
 '523',
 '524',
 '525',
 '526',
 '527',
 '528',
 '529',
 '530',
 '531',
 '532',
 '533',
 '534',
 '535',
 '536',
 '537',
 '538',
 '539',
 '540',
 '541',
 '542',
 '543',
 '544',
 '545',
 '546',
 '547',
 '548',
 '549',
 '550',
 '551',
 '552',
 '553',
 '554',
 '555',
 '556',
 '557',
 '558',
 '559',
 '560',
 '561',
 '562',
 '563',
 '564',
 '565',
 '566',
 '567',
 '568',
 '569',
 '570',
 '571',
 '572',
 '573',
 '574',
 '575',
 '576',
 '577',
 '578',
 '579',
 '580',
 '581',
 '582',
 '583',
 '584',
 '585',
 '586',
 '587',
 '588',
 '589',
 '590',
 '591',
 '592',
 '593',
 '594',
 '595',
 '596',
 '597',
 '598',
 '599',
 '600',
 '601',
 '602',
 '603',
 '604',
 '605',
 '606',
 '607',
 '608',
 '609',
 '610',
 '611',
 '612',
 '613',
 '614',
 '615',
 '616',
 '617',
 '618',
 '619',
 '620',
 '621',
 '622',
 '623',
 '624',
 '625',
 '626',
 '627',
 '628',
 '629',
 '630',
 '631',
 '632',
 '633',
 '634',
 '635',
 '636',
 '637',
 '638',
 '639',
 '640',
 '641',
 '642',
 '643',
 '644',
 '645',
 '646',
 '647',
 '648',
 '649',
 '650',
 '651',
 '652',
 '653',
 '654',
 '655',
 '656',
 '657',
 '658',
 '659',
 '660',
 '661',
 '662',
 '663',
 '664',
 '665',
 '666',
 '667',
 '668',
 '669',
 '670',
 '671',
 '672',
 '673',
 '674',
 '675',
 '676',
 '677',
 '678',
 '679',
 '680',
 '681',
 '682',
 '683',
 '684',
 '685',
 '686',
 '687',
 '688',
 '689',
 '690',
 '691',
 '692',
 '693',
 '694',
 '695',
 '696',
 '697',
 '698',
 '699',
 '700',
 '701',
 '702',
 '703',
 '704',
 '705',
 '706',
 '707',
 '708',
 '709',
 '710',
 '711',
 '712',
 '713',
 '714',
 '715',
 '716',
 '717',
 '718',
 '719',
 '720',
 '721',
 '722',
 '723',
 '724',
 '725',
 '726',
 '727',
 '728',
 '729',
 '730',
 '731',
 '732',
 '733',
 '734',
 '735',
 '736',
 '737',
 '738',
 '739',
 '740',
 '741',
 '742',
 '743',
 '744',
 '745',
 '746',
 '747',
 '748',
 '749',
 '750',
 '751',
 '752',
 '753',
 '754',
 '755',
 '756',
 '757',
 '758',
 '759',
 '760',
 '761',
 '762',
 '763',
 '764',
 '765',
 '766',
 '767',
 '768',
 '769',
 '770',
 '771',
 '772',
 '773',
 '774',
 '775',
 '776',
 '777',
 '778',
 '779',
 '780',
 '781',
 '782',
 '783',
 '784',
 '785',
 '786',
 '787',
 '788',
 '789',
 '790',
 '791',
 '792',
 '793',
 '794',
 '795',
 '796',
 '797',
 '798',
 '799',
 '800',
 '801',
 '802',
 '803',
 '804',
 '805',
 '806',
 '807',
 '808',
 '809',
 '810',
 '811',
 '812',
 '813',
 '814',
 '815',
 '816',
 '817',
 '818',
 '819',
 '820',
 '821',
 '822',
 '823',
 '824',
 '825',
 '826',
 '827',
 '828',
 '829',
 '830',
 '831',
 '832',
 '833',
 '834',
 '835',
 '836',
 '837',
 '838',
 '839',
 '840',
 '841',
 '842',
 '843',
 '844',
 '845',
 '846',
 '847',
 '848',
 '849',
 '850',
 '851',
 '852',
 '853',
 '854',
 '855',
 '856',
 '857',
 '858',
 '859',
 '860',
 '861',
 '862',
 '863',
 '864',
 '865',
 '866',
 '867',
 '868',
 '869',
 '870',
 '871',
 '872',
 '873',
 '874',
 '875',
 '876',
 '877',
 '878',
 '879',
 '880',
 '881',
 '882',
 '883',
 '884',
 '885',
 '886',
 '887',
 '888',
 '889',
 '890',
 '891',
 '892',
 '893',
 '894',
 '895',
 '896',
 '897',
 '898',
 '899',
 '900',
 '901',
 '902',
 '903',
 '904',
 '905',
 '906',
 '907',
 '908',
 '909',
 '910',
 '911',
 '912',
 '913',
 '914',
 '915',
 '916',
 '917',
 '918',
 '919',
 '920',
 '921',
 '922',
 '923',
 '924',
 '925',
 '926',
 '927',
 '928',
 '929',
 '930',
 '931',
 '932',
 '933',
 '934',
 '935',
 '936',
 '937',
 '938',
 '939',
 '940',
 '941',
 '942',
 '943',
 '944',
 '945',
 '946',
 '947',
 '948',
 '949',
 '950',
 '951',
 '952',
 '953',
 '954',
 '955',
 '956',
 '957',
 '958',
 '959',
 '960',
 '961',
 '962',
 '963',
 '964',
 '965',
 '966',
 '967',
 '968',
 '969',
 '970',
 '971',
 '972',
 '973',
 '974',
 '975',
 '976',
 '977',
 '978',
 '979',
 '980',
 '981',
 '982',
 '983',
 '984',
 '985',
 '986',
 '987',
 '988',
 '989',
 '990',
 '991',
 '992',
 '993',
 '994',
 '995',
 '996',
 '997',
 '998',
 '999',
 ...]

In [10]:
print(df.dtypes)

0        object
1        object
2       float64
3       float64
4       float64
         ...
1661    float64
1662    float64
1663    float64
1664    float64
1665    float64
Length: 1666, dtype: object

In [11]:
print(df.isnull().sum())#check for missing values

0        849
1        849
2        849
3       1524
4       1524
        ...
1661    1252
1662    1252
1663    1252
1664    1252
1665    1252
Length: 1666, dtype: int64

In [12]:
data=data.dropna(subset=data.iloc[:, 2:-1].columns, how='all')#delete all rows having all NULL
data

NameError: name 'data' is not defined

In [ ]:
data.describe

<bound method NDFrame.describe of            0              1      2   3   4   5   6       7              8  \
0     Apr-08        Belfast  100.0 NaN NaN NaN NaN  Apr-08        Belfast
1     Apr-08       Northern  100.0 NaN NaN NaN NaN  Apr-08       Northern
2     Apr-08  South Eastern  100.0 NaN NaN NaN NaN  Apr-08  South Eastern
3     Apr-08       Southern  100.0 NaN NaN NaN NaN  Apr-08       Southern
4     Apr-08        Western  100.0 NaN NaN NaN NaN  Apr-08        Western
...      ...            ...    ...  ..  ..  ..  ..     ...            ...
1519     NaN            NaN    NaN NaN NaN NaN NaN     NaN            NaN
1520     NaN            NaN    NaN NaN NaN NaN NaN     NaN            NaN
1521     NaN            NaN    NaN NaN NaN NaN NaN     NaN            NaN
1522     NaN            NaN    NaN NaN NaN NaN NaN     NaN            NaN
1523     NaN            NaN    NaN NaN NaN NaN NaN     NaN            NaN

         9  ...      1656      1657      1658      1659      1660      1661  \
0     91.9  ...  0.591103 -0.355018  0.373644 -0.760690 -0.164025 -0.038726
1     91.7  ... -0.199829 -0.001635 -0.062922 -0.682204 -0.220934 -0.100088
2     98.0  ...  0.328736 -0.047571  0.084228 -0.695950 -0.402840 -0.099965
3     97.3  ...  0.648861 -0.039088  0.182182 -0.524640  0.037320 -0.167688
4     91.3  ... -0.287538 -0.286893  0.057082 -0.565021 -0.105632 -0.108148
...    ...  ...       ...       ...       ...       ...       ...       ...
1519   NaN  ...       NaN       NaN       NaN       NaN       NaN       NaN
1520   NaN  ...       NaN       NaN       NaN       NaN       NaN       NaN
1521   NaN  ...       NaN       NaN       NaN       NaN       NaN       NaN
1522   NaN  ...       NaN       NaN       NaN       NaN       NaN       NaN
1523   NaN  ...       NaN       NaN       NaN       NaN       NaN       NaN

          1662      1663      1664      1665
0     0.237856 -0.087631 -0.369153  0.153795
1    -0.466537 -0.231547 -0.643019 -0.014098
2     0.110155 -0.114298  0.258495 -0.198911
3    -0.016790 -0.285344 -0.251188  0.862710
4    -0.405853 -0.053601 -0.677072  0.134160
...        ...       ...       ...       ...
1519       NaN       NaN       NaN       NaN
1520       NaN       NaN       NaN       NaN
1521       NaN       NaN       NaN       NaN
1522       NaN       NaN       NaN       NaN
1523       NaN       NaN       NaN       NaN

[1524 rows x 1666 columns]>

In [ ]:
df = pd.read_csv('merged.csv', low_memory=False)

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665
0,Apr-08,Belfast,100.0,NaN,NaN,NaN,NaN,Apr-08,Belfast,91.9,...,0.591103,-0.355018,0.373644,-0.760690,-0.164025,-0.038726,0.237856,-0.087631,-0.369153,0.153795
1,Apr-08,Northern,100.0,NaN,NaN,NaN,NaN,Apr-08,Northern,91.7,...,-0.199829,-0.001635,-0.062922,-0.682204,-0.220934,-0.100088,-0.466537,-0.231547,-0.643019,-0.014098
2,Apr-08,South Eastern,100.0,NaN,NaN,NaN,NaN,Apr-08,South Eastern,98.0,...,0.328736,-0.047571,0.084228,-0.695950,-0.402840,-0.099965,0.110155,-0.114298,0.258495,-0.198911
3,Apr-08,Southern,100.0,NaN,NaN,NaN,NaN,Apr-08,Southern,97.3,...,0.648861,-0.039088,0.182182,-0.524640,0.037320,-0.167688,-0.016790,-0.285344,-0.251188,0.862710
4,Apr-08,Western,100.0,NaN,NaN,NaN,NaN,Apr-08,Western,91.3,...,-0.287538,-0.286893,0.057082,-0.565021,-0.105632,-0.108148,-0.405853,-0.053601,-0.677072,0.134160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df

,0,1,2,3,4,5,6,7,8,9,...,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665
0,Apr-08,Belfast,100.0,NaN,NaN,NaN,NaN,Apr-08,Belfast,91.9,...,0.591103,-0.355018,0.373644,-0.760690,-0.164025,-0.038726,0.237856,-0.087631,-0.369153,0.153795
1,Apr-08,Northern,100.0,NaN,NaN,NaN,NaN,Apr-08,Northern,91.7,...,-0.199829,-0.001635,-0.062922,-0.682204,-0.220934,-0.100088,-0.466537,-0.231547,-0.643019,-0.014098
2,Apr-08,South Eastern,100.0,NaN,NaN,NaN,NaN,Apr-08,South Eastern,98.0,...,0.328736,-0.047571,0.084228,-0.695950,-0.402840,-0.099965,0.110155,-0.114298,0.258495,-0.198911
3,Apr-08,Southern,100.0,NaN,NaN,NaN,NaN,Apr-08,Southern,97.3,...,0.648861,-0.039088,0.182182,-0.524640,0.037320,-0.167688,-0.016790,-0.285344,-0.251188,0.862710
4,Apr-08,Western,100.0,NaN,NaN,NaN,NaN,Apr-08,Western,91.3,...,-0.287538,-0.286893,0.057082,-0.565021,-0.105632,-0.108148,-0.405853,-0.053601,-0.677072,0.134160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
columns_to_encode = ['0', '1', '7', '8']

# apply one-hot encoding to the specified columns
df_encoded = pd.get_dummies(df, columns=columns_to_encode, prefix=columns_to_encode, prefix_sep='_')

# save the updated dataframe to the same csv file
df_encoded.to_csv('merged.csv', index=False)
df_encoded

,2,3,4,5,6,9,10,11,12,13,...,7_Sep-14,7_Sep-15,7_Sep-16,7_Sep-17,7_Sep-18,8_Belfast,8_Northern,8_South Eastern,8_Southern,8_Western
0,100.0,NaN,NaN,NaN,NaN,91.9,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
1,100.0,NaN,NaN,NaN,NaN,91.7,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
2,100.0,NaN,NaN,NaN,NaN,98.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
3,100.0,NaN,NaN,NaN,NaN,97.3,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
4,100.0,NaN,NaN,NaN,NaN,91.3,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_encoded

,2,3,4,5,6,9,10,11,12,13,...,7_Sep-14,7_Sep-15,7_Sep-16,7_Sep-17,7_Sep-18,8_Belfast,8_Northern,8_South Eastern,8_Southern,8_Western
0,100.0,NaN,NaN,NaN,NaN,91.9,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
1,100.0,NaN,NaN,NaN,NaN,91.7,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
2,100.0,NaN,NaN,NaN,NaN,98.0,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
3,100.0,NaN,NaN,NaN,NaN,97.3,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,0
4,100.0,NaN,NaN,NaN,NaN,91.3,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_encoded = df_encoded.dropna(axis=1)

In [ ]:
df_encoded

,18,19,0_Apr-08,0_Apr-09,0_Apr-10,0_Apr-11,0_Apr-12,0_Apr-13,0_Apr-14,0_Apr-15,...,7_Sep-14,7_Sep-15,7_Sep-16,7_Sep-17,7_Sep-18,8_Belfast,8_Northern,8_South Eastern,8_Southern,8_Western
0,Dec-08,Brain/Central Nervous System,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,Dec-08,Breast Cancer,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,Dec-08,Gynae Cancers,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Dec-08,Haematological Cancers,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,Dec-08,Head/Neck Cancer,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,Jun-19,Sarcomas,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1520,Jun-19,Skin Cancers,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1521,Jun-19,Upper Gastointestinal Cancer,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1522,Jun-19,Urological Cancer,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1523,Jun-19,Other,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_encoded

,18,19,0_Apr-08,0_Apr-09,0_Apr-10,0_Apr-11,0_Apr-12,0_Apr-13,0_Apr-14,0_Apr-15,...,7_Sep-14,7_Sep-15,7_Sep-16,7_Sep-17,7_Sep-18,8_Belfast,8_Northern,8_South Eastern,8_Southern,8_Western
0,Dec-08,Brain/Central Nervous System,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,Dec-08,Breast Cancer,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,Dec-08,Gynae Cancers,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Dec-08,Haematological Cancers,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,Dec-08,Head/Neck Cancer,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,Jun-19,Sarcomas,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1520,Jun-19,Skin Cancers,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1521,Jun-19,Upper Gastointestinal Cancer,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1522,Jun-19,Urological Cancer,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1523,Jun-19,Other,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
for col in df_encoded.columns:
    if df_encoded[col].dtype == 'object':
        print(col)

18
19

In [ ]:
print(df_encoded['19'].isna().sum())

0

In [ ]:
# Convert '18' and '19' columns to integer type
df_encoded['18'] = df_encoded['18'].str.extract('(\d+)').astype(int)
# Handle non-numeric values in '18' and '19' columns by replacing them with -1
df_encoded['18'] = df_encoded['18'].fillna(-1)

In [ ]:
df_encoded["19"]

0       Brain/Central Nervous System
1                      Breast Cancer
2                      Gynae Cancers
3             Haematological Cancers
4                   Head/Neck Cancer
                    ...
1519                        Sarcomas
1520                    Skin Cancers
1521    Upper Gastointestinal Cancer
1522               Urological Cancer
1523                           Other
Name: 19, Length: 1524, dtype: object

In [ ]:
df_encoded = pd.get_dummies(df_encoded, columns=['19'], prefix='category')

In [ ]:
df_encoded

,18,0_Apr-08,0_Apr-09,0_Apr-10,0_Apr-11,0_Apr-12,0_Apr-13,0_Apr-14,0_Apr-15,0_Apr-16,...,category_Gynae Cancers,category_Haematological Cancers,category_Head/Neck Cancer,category_Lower Gastrointestinal Cancer,category_Lung Cancer,category_Other,category_Sarcomas,category_Skin Cancers,category_Upper Gastointestinal Cancer,category_Urological Cancer
0,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,8,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,8,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1520,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1521,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1522,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1523,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
df_encoded["18"].describe()

count    1524.000000
mean       13.716535
std         3.069510
min         8.000000
25%        11.000000
50%        14.000000
75%        16.000000
max        19.000000
Name: 18, dtype: float64

In [ ]:
df_encoded["18"].unique()

array([ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [ ]:
df_encoded.columns

Index(['18', '0_Apr-08', '0_Apr-09', '0_Apr-10', '0_Apr-11', '0_Apr-12',
       '0_Apr-13', '0_Apr-14', '0_Apr-15', '0_Apr-16',
       ...
       'category_Gynae Cancers', 'category_Haematological Cancers',
       'category_Head/Neck Cancer', 'category_Lower Gastrointestinal Cancer',
       'category_Lung Cancer', 'category_Other', 'category_Sarcomas',
       'category_Skin Cancers', 'category_Upper Gastointestinal Cancer',
       'category_Urological Cancer'],
      dtype='object', length=294)

In [ ]:
df_encoded.dtypes

18                                       int32
0_Apr-08                                 uint8
0_Apr-09                                 uint8
0_Apr-10                                 uint8
0_Apr-11                                 uint8
                                         ...
category_Other                           uint8
category_Sarcomas                        uint8
category_Skin Cancers                    uint8
category_Upper Gastointestinal Cancer    uint8
category_Urological Cancer               uint8
Length: 294, dtype: object

In [ ]:
import numpy as np

# Replace non-numeric values with NaN
df_encoded = df_encoded.apply(pd.to_numeric, errors='coerce')

# Replace NaN values with 0
df_encoded = df_encoded.fillna(0)
df_encoded

,18,0_Apr-08,0_Apr-09,0_Apr-10,0_Apr-11,0_Apr-12,0_Apr-13,0_Apr-14,0_Apr-15,0_Apr-16,...,category_Gynae Cancers,category_Haematological Cancers,category_Head/Neck Cancer,category_Lower Gastrointestinal Cancer,category_Lung Cancer,category_Other,category_Sarcomas,category_Skin Cancers,category_Upper Gastointestinal Cancer,category_Urological Cancer
0,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,8,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,8,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1519,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1520,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1521,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1522,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1523,19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [ ]:
from sklearn.preprocessing import StandardScaler
df_encoded = df_encoded.rename(columns={'18': 'target'})
df_encoded = df_encoded.drop(['category_Gynae Cancers', 'category_Haematological Cancers', 'category_Head/Neck Cancer', 'category_Lower Gastrointestinal Cancer', 'category_Lung Cancer', 'category_Other', 'category_Sarcomas', 'category_Skin Cancers', 'category_Upper Gastointestinal Cancer', 'category_Urological Cancer'], axis=1)
scaler = StandardScaler()
df_encoded.iloc[:,9:] = scaler.fit_transform(df_encoded.iloc[:,9:])

**LOGISTIC REGRESSION**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_encoded.drop('target', axis=1), df_encoded['target'], test_size=0.5215, random_state=42)

# Scale the data using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train a logistic regression model
clf = LogisticRegression()
clf.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test_scaled)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.5094339622641509

**NAIVE BAYES**

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X = df_encoded.drop('target', axis=1)
y = df_encoded['target']
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5125, random_state=42)
nb = GaussianNB()
nb.fit(X_train, y_train)
y_pred = nb.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5051150895140665

**KNN**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(df_encoded.drop('target', axis=1), df_encoded['target'], test_size=0.3, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.49563318777292575

**DECISION TREE**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_encoded.drop('target', axis=1), df_encoded['target'], test_size=0.65, random_state=42)

# Normalize the features using StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train a decision tree classifier
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = dt.predict(X_test)

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.17860746720484358

**ANN**

In [ ]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_encoded.drop('target', axis=1), df_encoded['target'], test_size=0.3, random_state=42)

# Normalize the features using StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Define the neural network architecture
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=200, batch_size=64, verbose=2)

# Evaluate the performance of the model
_, accuracy = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy:", accuracy)

Epoch 1/200
17/17 - 1s - loss: -2.4827e+01 - accuracy: 0.0000e+00 - 1s/epoch - 62ms/step
Epoch 2/200
17/17 - 0s - loss: -9.9975e+01 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 3/200
17/17 - 0s - loss: -2.5854e+02 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 4/200
17/17 - 0s - loss: -5.6825e+02 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 5/200
17/17 - 0s - loss: -1.1301e+03 - accuracy: 0.0000e+00 - 56ms/epoch - 3ms/step
Epoch 6/200
17/17 - 0s - loss: -2.0783e+03 - accuracy: 0.0000e+00 - 59ms/epoch - 3ms/step
Epoch 7/200
17/17 - 0s - loss: -3.5231e+03 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 8/200
17/17 - 0s - loss: -5.5961e+03 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 9/200
17/17 - 0s - loss: -8.5981e+03 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 10/200
17/17 - 0s - loss: -1.2455e+04 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 11/200
17/17 - 0s - loss: -1.7515e+04 - accuracy: 0.0000e+00 - 45ms/epoch - 3ms/step
Epoch 12/200
17/17 - 0s - loss: -2.3822e+04 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 13/200
17/17 - 0s - loss: -3.1362e+04 - accuracy: 0.0000e+00 - 55ms/epoch - 3ms/step
Epoch 14/200
17/17 - 0s - loss: -4.0945e+04 - accuracy: 0.0000e+00 - 60ms/epoch - 4ms/step
Epoch 15/200
17/17 - 0s - loss: -5.1459e+04 - accuracy: 0.0000e+00 - 62ms/epoch - 4ms/step
Epoch 16/200
17/17 - 0s - loss: -6.4672e+04 - accuracy: 0.0000e+00 - 49ms/epoch - 3ms/step
Epoch 17/200
17/17 - 0s - loss: -7.8994e+04 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 18/200
17/17 - 0s - loss: -9.6086e+04 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 19/200
17/17 - 0s - loss: -1.1585e+05 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 20/200
17/17 - 0s - loss: -1.3733e+05 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 21/200
17/17 - 0s - loss: -1.6227e+05 - accuracy: 0.0000e+00 - 45ms/epoch - 3ms/step
Epoch 22/200
17/17 - 0s - loss: -1.8838e+05 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 23/200
17/17 - 0s - loss: -2.1824e+05 - accuracy: 0.0000e+00 - 38ms/epoch - 2ms/step
Epoch 24/200
17/17 - 0s - loss: -2.5097e+05 - accuracy: 0.0000e+00 - 45ms/epoch - 3ms/step
Epoch 25/200
17/17 - 0s - loss: -2.8726e+05 - accuracy: 0.0000e+00 - 66ms/epoch - 4ms/step
Epoch 26/200
17/17 - 0s - loss: -3.2317e+05 - accuracy: 0.0000e+00 - 54ms/epoch - 3ms/step
Epoch 27/200
17/17 - 0s - loss: -3.6935e+05 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 28/200
17/17 - 0s - loss: -4.1594e+05 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 29/200
17/17 - 0s - loss: -4.5975e+05 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 30/200
17/17 - 0s - loss: -5.1861e+05 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 31/200
17/17 - 0s - loss: -5.7137e+05 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 32/200
17/17 - 0s - loss: -6.3233e+05 - accuracy: 0.0000e+00 - 55ms/epoch - 3ms/step
Epoch 33/200
17/17 - 0s - loss: -6.9716e+05 - accuracy: 0.0000e+00 - 56ms/epoch - 3ms/step
Epoch 34/200
17/17 - 0s - loss: -7.6755e+05 - accuracy: 0.0000e+00 - 60ms/epoch - 4ms/step
Epoch 35/200
17/17 - 0s - loss: -8.3759e+05 - accuracy: 0.0000e+00 - 63ms/epoch - 4ms/step
Epoch 36/200
17/17 - 0s - loss: -9.2005e+05 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 37/200
17/17 - 0s - loss: -9.9966e+05 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 38/200
17/17 - 0s - loss: -1.0818e+06 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 39/200
17/17 - 0s - loss: -1.1654e+06 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 40/200
17/17 - 0s - loss: -1.2609e+06 - accuracy: 0.0000e+00 - 60ms/epoch - 4ms/step
Epoch 41/200
17/17 - 0s - loss: -1.3651e+06 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 42/200
17/17 - 0s - loss: -1.4806e+06 - accuracy: 0.0000e+00 - 49ms/epoch - 3ms/step
Epoch 43/200
17/17 - 0s - loss: -1.5742e+06 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 44/200
17/17 - 0s - loss: -1.6894e+06 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 45/200
17/17 - 0s - loss: -1.8215e+06 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 46/200
17/17 - 0s - loss: -1.9355e+06 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 47/200
17/17 - 0s - loss: -2.0777e+06 - accuracy: 0.0000e+00 - 63ms/epoch - 4ms/step
Epoch 48/200
17/17 - 0s - loss: -2.2131e+06 - accuracy: 0.0000e+00 - 57ms/epoch - 3ms/step
Epoch 49/200
17/17 - 0s - loss: -2.3504e+06 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 50/200
17/17 - 0s - loss: -2.5026e+06 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 51/200
17/17 - 0s - loss: -2.6471e+06 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Epoch 52/200
17/17 - 0s - loss: -2.7924e+06 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 53/200
17/17 - 0s - loss: -2.9726e+06 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 54/200
17/17 - 0s - loss: -3.1337e+06 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 55/200
17/17 - 0s - loss: -3.3045e+06 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 56/200
17/17 - 0s - loss: -3.5050e+06 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 57/200
17/17 - 0s - loss: -3.6834e+06 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 58/200
17/17 - 0s - loss: -3.8886e+06 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 59/200
17/17 - 0s - loss: -4.0875e+06 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 60/200
17/17 - 0s - loss: -4.3007e+06 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 61/200
17/17 - 0s - loss: -4.4963e+06 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 62/200
17/17 - 0s - loss: -4.7232e+06 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 63/200
17/17 - 0s - loss: -4.9342e+06 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 64/200
17/17 - 0s - loss: -5.1887e+06 - accuracy: 0.0000e+00 - 55ms/epoch - 3ms/step
Epoch 65/200
17/17 - 0s - loss: -5.4298e+06 - accuracy: 0.0000e+00 - 49ms/epoch - 3ms/step
Epoch 66/200
17/17 - 0s - loss: -5.6336e+06 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 67/200
17/17 - 0s - loss: -5.9093e+06 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 68/200
17/17 - 0s - loss: -6.1404e+06 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 69/200
17/17 - 0s - loss: -6.4435e+06 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 70/200
17/17 - 0s - loss: -6.7476e+06 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 71/200
17/17 - 0s - loss: -7.0375e+06 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 72/200
17/17 - 0s - loss: -7.2855e+06 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 73/200
17/17 - 0s - loss: -7.5506e+06 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 74/200
17/17 - 0s - loss: -7.8991e+06 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 75/200
17/17 - 0s - loss: -8.1859e+06 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 76/200
17/17 - 0s - loss: -8.5496e+06 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 77/200
17/17 - 0s - loss: -8.8572e+06 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 78/200
17/17 - 0s - loss: -9.2134e+06 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 79/200
17/17 - 0s - loss: -9.5289e+06 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 80/200
17/17 - 0s - loss: -9.8505e+06 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 81/200
17/17 - 0s - loss: -1.0184e+07 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 82/200
17/17 - 0s - loss: -1.0579e+07 - accuracy: 0.0000e+00 - 38ms/epoch - 2ms/step
Epoch 83/200
17/17 - 0s - loss: -1.0851e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 84/200
17/17 - 0s - loss: -1.1330e+07 - accuracy: 0.0000e+00 - 49ms/epoch - 3ms/step
Epoch 85/200
17/17 - 0s - loss: -1.1673e+07 - accuracy: 0.0000e+00 - 45ms/epoch - 3ms/step
Epoch 86/200
17/17 - 0s - loss: -1.2094e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 87/200
17/17 - 0s - loss: -1.2494e+07 - accuracy: 0.0000e+00 - 37ms/epoch - 2ms/step
Epoch 88/200
17/17 - 0s - loss: -1.2938e+07 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 89/200
17/17 - 0s - loss: -1.3405e+07 - accuracy: 0.0000e+00 - 45ms/epoch - 3ms/step
Epoch 90/200
17/17 - 0s - loss: -1.3846e+07 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 91/200
17/17 - 0s - loss: -1.4256e+07 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 92/200
17/17 - 0s - loss: -1.4665e+07 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 93/200
17/17 - 0s - loss: -1.5096e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 94/200
17/17 - 0s - loss: -1.5590e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 95/200
17/17 - 0s - loss: -1.5992e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 96/200
17/17 - 0s - loss: -1.6476e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 97/200
17/17 - 0s - loss: -1.6997e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 98/200
17/17 - 0s - loss: -1.7456e+07 - accuracy: 0.0000e+00 - 74ms/epoch - 4ms/step
Epoch 99/200
17/17 - 0s - loss: -1.7960e+07 - accuracy: 0.0000e+00 - 64ms/epoch - 4ms/step
Epoch 100/200
17/17 - 0s - loss: -1.8479e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 101/200
17/17 - 0s - loss: -1.9002e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 102/200
17/17 - 0s - loss: -1.9367e+07 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 103/200
17/17 - 0s - loss: -2.0082e+07 - accuracy: 0.0000e+00 - 38ms/epoch - 2ms/step
Epoch 104/200
17/17 - 0s - loss: -2.0663e+07 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Epoch 105/200
17/17 - 0s - loss: -2.1237e+07 - accuracy: 0.0000e+00 - 38ms/epoch - 2ms/step
Epoch 106/200
17/17 - 0s - loss: -2.1702e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 107/200
17/17 - 0s - loss: -2.2264e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 108/200
17/17 - 0s - loss: -2.2842e+07 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 109/200
17/17 - 0s - loss: -2.3483e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 110/200
17/17 - 0s - loss: -2.4004e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 111/200
17/17 - 0s - loss: -2.4711e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 112/200
17/17 - 0s - loss: -2.5189e+07 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 113/200
17/17 - 0s - loss: -2.5811e+07 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 114/200
17/17 - 0s - loss: -2.6517e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 115/200
17/17 - 0s - loss: -2.7195e+07 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 116/200
17/17 - 0s - loss: -2.8022e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 117/200
17/17 - 0s - loss: -2.8553e+07 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 118/200
17/17 - 0s - loss: -2.9264e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 119/200
17/17 - 0s - loss: -2.9910e+07 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 120/200
17/17 - 0s - loss: -3.0692e+07 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Epoch 121/200
17/17 - 0s - loss: -3.1318e+07 - accuracy: 0.0000e+00 - 56ms/epoch - 3ms/step
Epoch 122/200
17/17 - 0s - loss: -3.1874e+07 - accuracy: 0.0000e+00 - 55ms/epoch - 3ms/step
Epoch 123/200
17/17 - 0s - loss: -3.2586e+07 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 124/200
17/17 - 0s - loss: -3.3518e+07 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 125/200
17/17 - 0s - loss: -3.4048e+07 - accuracy: 0.0000e+00 - 45ms/epoch - 3ms/step
Epoch 126/200
17/17 - 0s - loss: -3.4982e+07 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 127/200
17/17 - 0s - loss: -3.5768e+07 - accuracy: 0.0000e+00 - 54ms/epoch - 3ms/step
Epoch 128/200
17/17 - 0s - loss: -3.6298e+07 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 129/200
17/17 - 0s - loss: -3.7293e+07 - accuracy: 0.0000e+00 - 46ms/epoch - 3ms/step
Epoch 130/200
17/17 - 0s - loss: -3.7938e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 131/200
17/17 - 0s - loss: -3.8653e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 132/200
17/17 - 0s - loss: -3.9498e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 133/200
17/17 - 0s - loss: -4.0261e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 134/200
17/17 - 0s - loss: -4.1268e+07 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Epoch 135/200
17/17 - 0s - loss: -4.1664e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 136/200
17/17 - 0s - loss: -4.2286e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 137/200
17/17 - 0s - loss: -4.3701e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 138/200
17/17 - 0s - loss: -4.4393e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 139/200
17/17 - 0s - loss: -4.5146e+07 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 140/200
17/17 - 0s - loss: -4.6147e+07 - accuracy: 0.0000e+00 - 83ms/epoch - 5ms/step
Epoch 141/200
17/17 - 0s - loss: -4.7190e+07 - accuracy: 0.0000e+00 - 62ms/epoch - 4ms/step
Epoch 142/200
17/17 - 0s - loss: -4.8087e+07 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 143/200
17/17 - 0s - loss: -4.8970e+07 - accuracy: 0.0000e+00 - 46ms/epoch - 3ms/step
Epoch 144/200
17/17 - 0s - loss: -4.9814e+07 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 145/200
17/17 - 0s - loss: -5.0811e+07 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 146/200
17/17 - 0s - loss: -5.1691e+07 - accuracy: 0.0000e+00 - 46ms/epoch - 3ms/step
Epoch 147/200
17/17 - 0s - loss: -5.2638e+07 - accuracy: 0.0000e+00 - 44ms/epoch - 3ms/step
Epoch 148/200
17/17 - 0s - loss: -5.3233e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 149/200
17/17 - 0s - loss: -5.4181e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 150/200
17/17 - 0s - loss: -5.5243e+07 - accuracy: 0.0000e+00 - 46ms/epoch - 3ms/step
Epoch 151/200
17/17 - 0s - loss: -5.6595e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 152/200
17/17 - 0s - loss: -5.7379e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 153/200
17/17 - 0s - loss: -5.8288e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 154/200
17/17 - 0s - loss: -5.9358e+07 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Epoch 155/200
17/17 - 0s - loss: -6.0352e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 156/200
17/17 - 0s - loss: -6.1473e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 157/200
17/17 - 0s - loss: -6.2509e+07 - accuracy: 0.0000e+00 - 39ms/epoch - 2ms/step
Epoch 158/200
17/17 - 0s - loss: -6.3239e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 159/200
17/17 - 0s - loss: -6.5028e+07 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 160/200
17/17 - 0s - loss: -6.5682e+07 - accuracy: 0.0000e+00 - 56ms/epoch - 3ms/step
Epoch 161/200
17/17 - 0s - loss: -6.6757e+07 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 162/200
17/17 - 0s - loss: -6.7987e+07 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Epoch 163/200
17/17 - 0s - loss: -6.9076e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 164/200
17/17 - 0s - loss: -6.9961e+07 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 165/200
17/17 - 0s - loss: -7.1186e+07 - accuracy: 0.0000e+00 - 49ms/epoch - 3ms/step
Epoch 166/200
17/17 - 0s - loss: -7.2197e+07 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 167/200
17/17 - 0s - loss: -7.3694e+07 - accuracy: 0.0000e+00 - 47ms/epoch - 3ms/step
Epoch 168/200
17/17 - 0s - loss: -7.4660e+07 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 169/200
17/17 - 0s - loss: -7.5861e+07 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 170/200
17/17 - 0s - loss: -7.6975e+07 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 171/200
17/17 - 0s - loss: -7.8235e+07 - accuracy: 0.0000e+00 - 49ms/epoch - 3ms/step
Epoch 172/200
17/17 - 0s - loss: -7.9337e+07 - accuracy: 0.0000e+00 - 54ms/epoch - 3ms/step
Epoch 173/200
17/17 - 0s - loss: -8.0296e+07 - accuracy: 0.0000e+00 - 46ms/epoch - 3ms/step
Epoch 174/200
17/17 - 0s - loss: -8.1854e+07 - accuracy: 0.0000e+00 - 40ms/epoch - 2ms/step
Epoch 175/200
17/17 - 0s - loss: -8.2921e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 176/200
17/17 - 0s - loss: -8.3935e+07 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 177/200
17/17 - 0s - loss: -8.5231e+07 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 178/200
17/17 - 0s - loss: -8.6630e+07 - accuracy: 0.0000e+00 - 51ms/epoch - 3ms/step
Epoch 179/200
17/17 - 0s - loss: -8.7524e+07 - accuracy: 0.0000e+00 - 61ms/epoch - 4ms/step
Epoch 180/200
17/17 - 0s - loss: -8.8962e+07 - accuracy: 0.0000e+00 - 62ms/epoch - 4ms/step
Epoch 181/200
17/17 - 0s - loss: -9.0648e+07 - accuracy: 0.0000e+00 - 100ms/epoch - 6ms/step
Epoch 182/200
17/17 - 0s - loss: -9.1747e+07 - accuracy: 0.0000e+00 - 61ms/epoch - 4ms/step
Epoch 183/200
17/17 - 0s - loss: -9.3311e+07 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 184/200
17/17 - 0s - loss: -9.4801e+07 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 185/200
17/17 - 0s - loss: -9.6393e+07 - accuracy: 0.0000e+00 - 53ms/epoch - 3ms/step
Epoch 186/200
17/17 - 0s - loss: -9.7281e+07 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 187/200
17/17 - 0s - loss: -9.8365e+07 - accuracy: 0.0000e+00 - 48ms/epoch - 3ms/step
Epoch 188/200
17/17 - 0s - loss: -9.9273e+07 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Epoch 189/200
17/17 - 0s - loss: -1.0116e+08 - accuracy: 0.0000e+00 - 37ms/epoch - 2ms/step
Epoch 190/200
17/17 - 0s - loss: -1.0278e+08 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 191/200
17/17 - 0s - loss: -1.0410e+08 - accuracy: 0.0000e+00 - 45ms/epoch - 3ms/step
Epoch 192/200
17/17 - 0s - loss: -1.0565e+08 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 193/200
17/17 - 0s - loss: -1.0666e+08 - accuracy: 0.0000e+00 - 42ms/epoch - 2ms/step
Epoch 194/200
17/17 - 0s - loss: -1.0786e+08 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 195/200
17/17 - 0s - loss: -1.1045e+08 - accuracy: 0.0000e+00 - 52ms/epoch - 3ms/step
Epoch 196/200
17/17 - 0s - loss: -1.1064e+08 - accuracy: 0.0000e+00 - 50ms/epoch - 3ms/step
Epoch 197/200
17/17 - 0s - loss: -1.1290e+08 - accuracy: 0.0000e+00 - 46ms/epoch - 3ms/step
Epoch 198/200
17/17 - 0s - loss: -1.1425e+08 - accuracy: 0.0000e+00 - 46ms/epoch - 3ms/step
Epoch 199/200
17/17 - 0s - loss: -1.1496e+08 - accuracy: 0.0000e+00 - 43ms/epoch - 3ms/step
Epoch 200/200
17/17 - 0s - loss: -1.1698e+08 - accuracy: 0.0000e+00 - 41ms/epoch - 2ms/step
Accuracy: 0.0

In [ ]:
import xgboost as xgb
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize
import numpy as np

In [ ]:
clf = xgb.XGBClassifier()
# Subtract 8 from class labels to align with expected values
y_train_shifted = y_train - 8
y_test_shifted = y_test - 8

# Train your classifier on X_train and y_train_shifted
clf.fit(X_train, y_train_shifted)

# Make predictions on X_test and convert probabilities to class labels
y_pred_proba = clf.predict_proba(X_test)
y_pred = np.argmax(y_pred_proba, axis=1) + 8

# Compute evaluation metrics using y_test_shifted and y_pred

In [ ]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_encoded.drop('target', axis=1), df_encoded['target'], test_size=0.3, random_state=42)

# Normalize the features using StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Convert the dataset to DMatrix format
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Define the hyperparameters of the XGBoost model
params = {
    'max_depth': 3,
    'eta': 0.1,
    'objective': 'multi:softmax',
    'num_class': len(set(y_train)),
    'eval_metric': 'mlogloss'
}

# Train the XGBoost model
num_rounds = 100
model = xgb.train(params, dtrain, num_rounds)

# Make predictions on the testing set
y_pred = model.predict(dtest)
y_pred = [int(value) for value in y_pred]

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

XGBoostError: [23:43:54] C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-07593ffd91cd9da33-1\xgboost\xgboost-ci-windows\src\objective\multiclass_obj.cu:123: SoftmaxMultiClassObj: label must be in [0, num_class).

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming the target variable is stored in a column named "target" in the DataFrame
sns.displot(df_encoded['19'], kde=True)
plt.title('Distribution of Target Variable')
plt.show()

# Visualize relationship between target variable and another feature using scatterplot
sns.scatterplot(data=df_encoded, x='target_feature', y='target')
plt.title('Relationship between Target and Another Feature')
plt.show()

# Visualize relationship between target variable and another feature using boxplot
sns.boxplot(data=df_encoded, x='target_feature', y='target')
plt.title('Relationship between Target and Another Feature')
plt.show()

In [ ]:
import plotly.express as px
data = pd.read_csv('merged.csv')
fig = px.scatter(data, x="19", y="18", color="18")
fig.show()

In [ ]:
import plotly.express as px
data = pd.read_csv('merged.csv')
fig = px.bar(data, x="19", y="18", color="19", barmode="group")
fig.show()

In [ ]:
import plotly.express as px
fig = px.imshow(df_encoded.corr())
fig.show()

In [ ]:
import plotly.express as px

fig = px.pie(df_encoded, values=['18', '19',], names=df_encoded.columns[[18, 19]], title='Pie Chart of Columns 18 and 19')
fig.show()

**AUC-ROC Curve for all the models**

In [ ]:
from sklearn.metrics import classification_report, accuracy_score

# Train your classifier on the training set
y_val = df_encoded['19']
X_val = df_encoded.drop(['19'], axis=1)
y_val_pred = clf.predict(X_val)


test_acc = accuracy_score(y_val, y_val_pred)
print(f'Test Acc: {test_acc:.4f}')
print(classification_report(y_val, y_val_pred))

# Plot the ROC curve for the classifier
fpr, tpr, thresholds = roc_curve(y_val, y_val_pred)
roc_auc = auc(fpr, tpr)

plt.plot(fpr, tpr, label=f'ROC curve (area = {roc_auc:.2f})')
plt.plot([0, 1], [0, 1], linestyle='--')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic')
plt.legend(loc="lower right")
plt.show()

NameError: name 'df_encoded' is not defined